.editForm {
    border-top: rgb(49, 47, 47)  solid;
    border-bottom: rgb(49, 47, 47)  solid;
    padding: 20px 3px;
    width: 100%;
}

textarea {
    width: 100%;
}

.page {
    width: 100%;
}

#root {
    width: 90%;
}

.btn {
    margin: 50px 5px;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}