#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
}